.SidebarEntry {
  color: #c9c3e6;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  font-size: 0.75em;
  letter-spacing: 0.125em;
  transition: all 0.5s ease-out;
  -webkit-text-stroke-width: 1px;
  overflow-x: hidden;
}

.SidebarEntry:hover {
  transition: all 0.5s ease-out;
}

.SidebarEntry:hover .Content {
  backdrop-filter: blur(10px) grayscale(0.25) brightness(0.75);
}

.Content {
  align-self: center;
  padding: 0.5em 1em;
  border-radius: 5px;
}
