.SidebarEntry {
  color: lightblue;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: inherit;
  outline: black;
  transition: all 0.5s ease-out;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  overflow-x: hidden;
}

.SidebarEntry:hover {
  transition: all 0.5s ease-out;
}

.SidebarEntry:hover .Content {
  backdrop-filter: blur(4px) grayscale(0.25) brightness(0.75);
}

.Content {
  align-self: center;
  padding: 5px 10px;
  border-radius: 5px;
}
