.Sidebar {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  width: 20%;
  z-index: 100;
  transition: all 0.5s ease-out;
  position: relative;
  text-align: center;
  background-color: #563d7c;
}

.Sidebar.Close {
  width: 0;
  z-index: 0;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 1920px) {
  .Sidebar {
    font-size: 2.5rem;
  }
  .Sidebar.Active {
    width: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .Sidebar {
    font-size: 2.5rem;
  }
  .Sidebar.Active {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .Sidebar {
    font-size: 2rem;
  }
  .Sidebar.Active {
    width: 250px;
  }
}

@media screen and (max-width: 480px) {
  .Sidebar {
    font-size: 2.5rem;
    height: 100vh;
  }
  .Sidebar.Active {
    width: 100vw;
    position: fixed;
  }
  .Sidebar.Close {
    position: fixed;
  }
}
