.HamburgerWrapper {
  padding: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  transition: all 0.4s ease-out;
}
